<footer class="footer">
    <p class="feito">Feito com <a rel="noopener noreferrer" target="_blank" href="https://www.11ty.dev/">11ty</a> e hospedado em <a rel="noopener noreferrer" target="_blank" href="https://www.cloudflare.com/">Cloudflare</a>.</p>
    <p class="copy">1986 - <span id="copyYear"></span></p>
</footer>

<script>
  var myDate = new Date();
  year = myDate.getYear() + 1900;
  document
    .getElementById("copyYear")
    .textContent = year;
</script>
